{% extends "auth/base_external.html" %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block external_content %}

    <div class="col-sm-4"></div>
    <div class="col-sm-4 login-bg">
        <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10" style="margin-top: 25px; text-align: center">
                        <h3>Request Password Reset</h3>
                    </div>
                    <div class="col-sm-1"></div>
            </div>
        <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <form action="" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                {{ form.hidden_tag() }}
                                <div class="input_form_test">
                                    <input class="special_input transparent reset-email" id="email" name="email" required="" type="text" value="">
                                    <label class="special_label" for="email">Email</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 30px">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10" style="text-align: center">
                                {{ wtf.form_field(form.submit, class='btn btn-default btn-block register-submit transparent') }}
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </form>
                        <div class="row" style="margin-top: 60px; text-align: center">
                    <div class="col-xs-12" >
                        <a class="menu-item" onclick="reload('{{ url_for('auth.login_') }}')" style="text-align: center">Looking for the login?</a>
                    </div>
                </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
    </div>
    <div class="col-sm-4"></div>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/homepage.css') }}">
{% endblock %}