{% extends "auth/base_external.html" %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block external_content %}

    <div class="col-sm-4"></div>
    <div class="col-sm-4 login-bg">
        <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10" style="margin-top: 25px; text-align: center">
                            <h3>Reset Password</h3>
                        </div>
                        <div class="col-sm-1"></div>
                </div>
        <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <form action="" method="post">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{ form.hidden_tag() }}
                                    {{ wtf.form_field(form.password, class='form-control reset-password') }}
                                    {{ wtf.form_field(form.password2, class='form-control reset-password2') }}
                                </div>
                            </div>
                            <div class="row" style="margin-top: 4vh">
                                <div class="col-sm-12" style="text-align: center">
                                    {{ wtf.form_field(form.submit, class='btn btn-default btn-block register-submit transparent') }}
                                </div>

                            </div>
                        </form>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
    </div>
    <div class="col-sm-4"></div>
    <script src="{{ url_for('static', filename='js/reset_password_validation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/reset_password.js') }}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/homepage.css') }}">
{% endblock %}
