{% extends "new_sidebar/new_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block main_content %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <div id="goes_here" class="col-sm-12" style="height:{% if current_user.is_recruiter %}90vh{% else %}100vh{% endif %}; margin: auto; display: block; box-shadow: 0 2px 8px rgba(0,0,0,.08);background-color: #ffffff;">
            <div class="row">
                <div class="col-sm-2 side_to_top_col" style="height: {% if current_user.is_recruiter %}85vh{% else %}100vh{% endif %}; padding-right: 0" id="job_board_selectors">
                <h4 style="margin-bottom: 0">Your Job Searches</h4>
                    <span class="deactivated_sidebar" id="deactivated_searches_toggle">deactivated searches</span>
                    <hr style="margin: 10px 0">
                    <div class="communities job_searches side_to_top_col_child" id="message_boards_col" style="overflow-x: hidden; overflow-y: auto">
                        {% for search in current_user.job_searches.filter_by(status=1) %}
                            {% if '/' + search.id|string in request.path %}
                                <a href="{{ url_for('main.job_search', id=search.id) }}" class="current job_search_menu_item" id="job_search_{{ search.id }}">{% if search.last_checked < search.last_updated %}<i class="fas fa-fire flame"></i>{% else %}#{% endif %} {{search.title}}{% for i in search.get_icon() %} <i class="{{ i }}"></i>{% endfor %} </a>
                            {% else %}
                                <a href="{{ url_for('main.job_search', id=search.id) }}" id="job_search_{{ search.id }}" class="job_search_menu_item"> {% if search.last_checked < search.last_updated %}<i class="fas fa-fire flame"></i>{% else %}#{% endif %} {{search.title}}{% for i in search.get_icon() %} <i class="{{ i }}"></i>{% endfor %} </a>
                            {% endif %}
                        {% endfor %}
                        <div class="sidenav_btn no-highlight" id="new_job_search" style="padding: 6px 8px">+ Add Search</div>
                    </div>
                </div>
                <div class="col-sm-10 message_content_col" style="padding-left: 0; height: {% if current_user.is_recruiter %}85vh{% else %}100vh{% endif %}">
                    {% block board_content %}{% endblock %}
                </div>
            </div>
    </div>
    <div class="modal fade" id="new_job_search_modal" tabindex="-1" role="dialog" aria-labelledby="new_job_search_modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: #ffffff; border-radius: 15px; margin-top: 5vh; min-height: 30vh">
                <div class="modal-body">
                    <div class="row">
                            <div class="row">
                                <div class="col-xs-12" style="padding: 0 25px">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h3 style="display: inline-block">Add a Job Search</h3>
                                            <div class="post-option" data-dismiss="modal" style="display: inline-block; float: right">X</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-10" style="margin-bottom: 10px">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="input_form_test">
                                                        <input class="special_input transparent" id="search_title" name="title" required="" type="text" value="">
                                                        <label class="special_label" for="search_title">Title *</label>
                                                    </div>
                                                    <label for="search_description" style="color: #999999;">Description </label>
                                                    <textarea class="form-control special_text" id="search_description" name="description" placeholder="Add a description for your search" required="" style="height:80px; overflow:auto; resize:none; margin-top: 5px; border: 1px solid #9e9e9e; font-size: 14px !important; margin-bottom: 5px"></textarea>
                                                    <label for="Indusry" class="control-label industry-label" style="color: #999999">Industry* <span style="font-size: 10px">(Up to 2)</span></label>
                                                    <select class="form-control selectpicker searches-industry" style="margin-bottom: 5px" id="search_industries" data-live-search="true" name="industry" required multiple="multiple">
                                                        <option value="4" data-tokens="Education">Education</option>
                                                        <option value="11" data-tokens="Janitorial Services">Janitorial Services</option>
                                                        <option value="14" data-tokens="Transportation">Transportation</option>
                                                        <option value="17" data-tokens="Accounting">Accounting</option>
                                                        <option value="19" data-tokens="Airlines/Aviation">Airlines/Aviation</option>
                                                        <option value="21" data-tokens="Alternative Dispute Resolution">Alternative Dispute Resolution</option>
                                                        <option value="23" data-tokens="Alternative Medicine">Alternative Medicine</option>
                                                        <option value="25" data-tokens="Animation">Animation</option>
                                                        <option value="27" data-tokens="Apparel & Fashion">Apparel & Fashion</option>
                                                        <option value="29" data-tokens="Architecture & Planning">Architecture & Planning</option>
                                                        <option value="31" data-tokens="Arts & Crafts">Arts & Crafts</option>
                                                        <option value="33" data-tokens="Automotive">Automotive</option>
                                                        <option value="35" data-tokens="Aviation & Aerospace">Aviation & Aerospace</option>
                                                        <option value="37" data-tokens="Banking">Banking</option>
                                                        <option value="39" data-tokens="Biotechnology">Biotechnology</option>
                                                        <option value="41" data-tokens="Broadcast Media">Broadcast Media</option>
                                                        <option value="43" data-tokens="Building Materials">Building Materials</option>
                                                        <option value="45" data-tokens="Business Supplies & Equipment">Business Supplies & Equipment</option>
                                                        <option value="47" data-tokens="Capital Markets">Capital Markets</option>
                                                        <option value="49" data-tokens="Chemicals">Chemicals</option>
                                                        <option value="51" data-tokens="Civic & Social Organization">Civic & Social Organization</option>
                                                        <option value="53" data-tokens="Civil Engineering">Civil Engineering</option>
                                                        <option value="55" data-tokens="Commercial Real Estate">Commercial Real Estate</option>
                                                        <option value="57" data-tokens="Computer & Network Security">Computer & Network Security</option>
                                                        <option value="59" data-tokens="Computer Games">Computer Games</option>
                                                        <option value="61" data-tokens="Computer Hardware">Computer Hardware</option>
                                                        <option value="63" data-tokens="Computer Networking">Computer Networking</option>
                                                        <option value="65" data-tokens="Computer Software">Computer Software</option>
                                                        <option value="67" data-tokens="Construction">Construction</option>
                                                        <option value="69" data-tokens="Consumer Electronics">Consumer Electronics</option>
                                                        <option value="71" data-tokens="Consumer Goods">Consumer Goods</option>
                                                        <option value="73" data-tokens="Consumer Services">Consumer Services</option>
                                                        <option value="75" data-tokens="Cosmetics">Cosmetics</option>
                                                        <option value="77" data-tokens="Dairy">Dairy</option>
                                                        <option value="79" data-tokens="Defense & Space">Defense & Space</option>
                                                        <option value="81" data-tokens="Design">Design</option>
                                                        <option value="83" data-tokens="E-learning">E-learning</option>
                                                        <option value="85" data-tokens="Education Management">Education Management</option>
                                                        <option value="87" data-tokens="Electrical & Electronic Manufacturing">Electrical & Electronic Manufacturing</option>
                                                        <option value="89" data-tokens="Entertainment">Entertainment</option>
                                                        <option value="91" data-tokens="Environmental Services">Environmental Services</option>
                                                        <option value="93" data-tokens="Events Services">Events Services</option>
                                                        <option value="95" data-tokens="Executive Office">Executive Office</option>
                                                        <option value="97" data-tokens="Facilities Services">Facilities Services</option>
                                                        <option value="99" data-tokens="Farming">Farming</option>
                                                        <option value="101" data-tokens="Financial Services">Financial Services</option>
                                                        <option value="103" data-tokens="Fine Art">Fine Art</option>
                                                        <option value="105" data-tokens="Fishery">Fishery</option>
                                                        <option value="107" data-tokens="Food & Beverages">Food & Beverages</option>
                                                        <option value="109" data-tokens="Food Production">Food Production</option>
                                                        <option value="111" data-tokens="Fundraising">Fundraising</option>
                                                        <option value="113" data-tokens="Furniture">Furniture</option>
                                                        <option value="115" data-tokens="Gambling & Casinos">Gambling & Casinos</option>
                                                        <option value="117" data-tokens="Glass">Glass</option>
                                                        <option value="119" data-tokens="Ceramics & Concrete">Ceramics & Concrete</option>
                                                        <option value="121" data-tokens="Government Administration">Government Administration</option>
                                                        <option value="123" data-tokens="Government Relations">Government Relations</option>
                                                        <option value="125" data-tokens="Graphic Design">Graphic Design</option>
                                                        <option value="127" data-tokens="Health">Health</option>
                                                        <option value="129" data-tokens="Wellness & Fitness">Wellness & Fitness</option>
                                                        <option value="131" data-tokens="Higher Education">Higher Education</option>
                                                        <option value="133" data-tokens="Hospital & Health Care">Hospital & Health Care</option>
                                                        <option value="135" data-tokens="Hospitality">Hospitality</option>
                                                        <option value="137" data-tokens="Human Resources">Human Resources</option>
                                                        <option value="139" data-tokens="Import & Export">Import & Export</option>
                                                        <option value="141" data-tokens="Individual & Family Services">Individual & Family Services</option>
                                                        <option value="143" data-tokens="Industrial Automation">Industrial Automation</option>
                                                        <option value="145" data-tokens="Information Services">Information Services</option>
                                                        <option value="147" data-tokens="Information Technology & Services">Information Technology & Services</option>
                                                        <option value="149" data-tokens="Insurance">Insurance</option>
                                                        <option value="151" data-tokens="International Affairs">International Affairs</option>
                                                        <option value="153" data-tokens="International Trade & Development">International Trade & Development</option>
                                                        <option value="155" data-tokens="Internet">Internet</option>
                                                        <option value="157" data-tokens="Investment Banking">Investment Banking</option>
                                                        <option value="159" data-tokens="Investment Management">Investment Management</option>
                                                        <option value="161" data-tokens="Judiciary">Judiciary</option>
                                                        <option value="163" data-tokens="Law Enforcement">Law Enforcement</option>
                                                        <option value="165" data-tokens="Law Practice">Law Practice</option>
                                                        <option value="167" data-tokens="Legal Services">Legal Services</option>
                                                        <option value="169" data-tokens="Legislative Office">Legislative Office</option>
                                                        <option value="171" data-tokens="Leisure">Leisure</option>
                                                        <option value="173" data-tokens="Travel & Tourism">Travel & Tourism</option>
                                                        <option value="175" data-tokens="Libraries">Libraries</option>
                                                        <option value="177" data-tokens="Logistics & Supply Chain">Logistics & Supply Chain</option>
                                                        <option value="179" data-tokens="Luxury Goods & Jewelry">Luxury Goods & Jewelry</option>
                                                        <option value="181" data-tokens="Machinery">Machinery</option>
                                                        <option value="183" data-tokens="Management Consulting">Management Consulting</option>
                                                        <option value="185" data-tokens="Maritime">Maritime</option>
                                                        <option value="187" data-tokens="Market Research">Market Research</option>
                                                        <option value="189" data-tokens="Marketing & Advertising">Marketing & Advertising</option>
                                                        <option value="191" data-tokens="Mechanical Or Industrial Engineering">Mechanical Or Industrial Engineering</option>
                                                        <option value="193" data-tokens="Media Production">Media Production</option>
                                                        <option value="195" data-tokens="Medical Device">Medical Device</option>
                                                        <option value="197" data-tokens="Medical Practice">Medical Practice</option>
                                                        <option value="199" data-tokens="Mental Health Care">Mental Health Care</option>
                                                        <option value="201" data-tokens="Military">Military</option>
                                                        <option value="203" data-tokens="Mining & Metals">Mining & Metals</option>
                                                        <option value="205" data-tokens="Motion Pictures & Film">Motion Pictures & Film</option>
                                                        <option value="207" data-tokens="Museums & Institutions">Museums & Institutions</option>
                                                        <option value="209" data-tokens="Music">Music</option>
                                                        <option value="211" data-tokens="Nanotechnology">Nanotechnology</option>
                                                        <option value="213" data-tokens="Newspapers">Newspapers</option>
                                                        <option value="215" data-tokens="Non-profit Organization Management">Non-profit Organization Management</option>
                                                        <option value="217" data-tokens="Oil & Energy">Oil & Energy</option>
                                                        <option value="219" data-tokens="Online Media">Online Media</option>
                                                        <option value="221" data-tokens="Outsourcing/Offshoring">Outsourcing/Offshoring</option>
                                                        <option value="223" data-tokens="Package/Freight Delivery">Package/Freight Delivery</option>
                                                        <option value="225" data-tokens="Packaging & Containers">Packaging & Containers</option>
                                                        <option value="227" data-tokens="Paper & Forest Products">Paper & Forest Products</option>
                                                        <option value="229" data-tokens="Performing Arts">Performing Arts</option>
                                                        <option value="231" data-tokens="Pharmaceuticals">Pharmaceuticals</option>
                                                        <option value="233" data-tokens="Philanthropy">Philanthropy</option>
                                                        <option value="235" data-tokens="Photography">Photography</option>
                                                        <option value="237" data-tokens="Plastics">Plastics</option>
                                                        <option value="239" data-tokens="Political Organization">Political Organization</option>
                                                        <option value="241" data-tokens="Primary/Secondary Education">Primary/Secondary Education</option>
                                                        <option value="244" data-tokens="Printing">Printing</option>
                                                        <option value="246" data-tokens="Professional Training & Coaching">Professional Training & Coaching</option>
                                                        <option value="248" data-tokens="Program Development">Program Development</option>
                                                        <option value="250" data-tokens="Public Policy">Public Policy</option>
                                                        <option value="252" data-tokens="Public Relations & Communications">Public Relations & Communications</option>
                                                        <option value="254" data-tokens="Public Safety">Public Safety</option>
                                                        <option value="256" data-tokens="Publishing">Publishing</option>
                                                        <option value="258" data-tokens="Railroad Manufacture">Railroad Manufacture</option>
                                                        <option value="260" data-tokens="Ranching">Ranching</option>
                                                        <option value="262" data-tokens="Real Estate">Real Estate</option>
                                                        <option value="264" data-tokens="Recreational Facilities & Services">Recreational Facilities & Services</option>
                                                        <option value="266" data-tokens="Religious Institutions">Religious Institutions</option>
                                                        <option value="268" data-tokens="Renewables & Environment">Renewables & Environment</option>
                                                        <option value="270" data-tokens="Research">Research</option>
                                                        <option value="272" data-tokens="Restaurants">Restaurants</option>
                                                        <option value="274" data-tokens="Retail">Retail</option>
                                                        <option value="276" data-tokens="Security & Investigations">Security & Investigations</option>
                                                        <option value="278" data-tokens="Semiconductors">Semiconductors</option>
                                                        <option value="280" data-tokens="Shipbuilding">Shipbuilding</option>
                                                        <option value="282" data-tokens="Sporting Goods">Sporting Goods</option>
                                                        <option value="284" data-tokens="Sports">Sports</option>
                                                        <option value="286" data-tokens="Staffing & Recruiting">Staffing & Recruiting</option>
                                                        <option value="288" data-tokens="Supermarkets">Supermarkets</option>
                                                        <option value="290" data-tokens="Telecommunications">Telecommunications</option>
                                                        <option value="292" data-tokens="Textiles">Textiles</option>
                                                        <option value="294" data-tokens="Think Tanks">Think Tanks</option>
                                                        <option value="296" data-tokens="Tobacco">Tobacco</option>
                                                        <option value="298" data-tokens="Translation & Localization">Translation & Localization</option>
                                                        <option value="300" data-tokens="Trucking/Railroad">Trucking/Railroad</option>
                                                        <option value="302" data-tokens="Utilities">Utilities</option>
                                                        <option value="304" data-tokens="Venture Capital & Private Equity">Venture Capital & Private Equity</option>
                                                        <option value="306" data-tokens="Veterinary">Veterinary</option>
                                                        <option value="308" data-tokens="Warehousing">Warehousing</option>
                                                        <option value="310" data-tokens="Wholesale">Wholesale</option>
                                                        <option value="312" data-tokens="Wine & Spirits">Wine & Spirits</option>
                                                        <option value="314" data-tokens="Wireless">Wireless</option>
                                                        <option value="315" data-tokens="Writing & Editing">Writing & Editing</option>
                                            </select>
                                                </div>
                                            </div>
                                            <div id="jobs_checkbox" style="margin-top: 10px">
                                                <label>
                                                    <input id="search_l_specific" name="l_specific" type="checkbox" checked="checked"> Location Specific <i id="info" class="fas fa-info-circle" data-toggle="popover" data-placement="bottom" data-content="Uncheck if you are willing to re-locate and would like to see jobs for no one particular location." style="cursor: pointer"></i>
                                                </label>
                                            </div>
                                            <span id="l_specific_true" style="margin-bottom: 10px">
                                                <div class="input_form_test" style="margin-top: 0">
                                                    <input autocomplete="off" class="special_input transparent" id="search_city" name="city"  placeholder="City that the position you are filling is located" type="text" value="">
                                                    <label class="special_label" for="city">City *</label>
                                                </div>
                                                <label class="control-label" for="proximity">Proximity *</label>
                                                  <select class="form-control" id="search_proximity" name="" required=""><option value="1">25 miles</option><option value="2">50 miles</option><option value="3">75 miles</option><option value="4">100 miles</option><option value="5">150 miles</option></select>
                                            </span>
                                        </div>
                                        <div class="col-xs-1"></div>
                                    </div>
                                    <div class="col-sm-12">
                                        <button id="submit_new_job_search" class="btn btn-default register-submit btn-block" style="width: 100% !important; margin-bottom: 10px">+ Add Search</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</div>

{% endblock %}