{% extends 'email_base.html' %}
{% block title %}
    <p>Job Application Submitted</p>
{% endblock %}

{% block email_content %}
    <p>Dear {{ user.username }},</p>
    <p>Thank you for applying to {{ job.job_title }} @ {{ job.company }}.</p>
    <p> Your quick apply professional profile is now accessible to the recruiters for this posting.
        They will reach out directly if interested in further pursuing your applicancy.</p>
    <p>Sincerely,</p>
    <p>The ILMJTCV team</p>
{% endblock %}





