{#<li class="{% if not notification.read %}unread_n{% endif %}" id="n_{{ notification.id }}">
    {% if not notification.read %}<i class="fas fa-bookmark unread_indicator notification_alt"></i>{% endif %}
    <div class="notify_data"><div class="timestamp">{{ moment(notification.timestamp).fromNow() }}</div> <div class="title">{{notification.title}}</div><div class="sub_title">{{notification.sub_title}}</div><div class="notify_link"><i href="{{ notification.link }}" class="fas fa-external-link-alt notification_alt"></i></div></div>
</li>#}


<a href="{{ notification.link }}" class="activity_link">
    <div class="activity">
    <span class="activity_title">{{ notification.sub_title }}</span>
    <span class="activity_time">{{ moment(notification.timestamp).fromNow() }}</span>
    </div>
</a>
