{% extends "info.html" %}
{% block info_content %}
    <link href="{{ url_for('static', filename='css/bootstrap-toc.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/bootstrap-toc.js') }}"></script>
    <script>
    Toc.init({

  // The element that the navigation will be created in
  $nav: $('#myToc'),

  // The element where the search for headings will be limited to
  $scope: $(document.body)

});
    </script>
        <div class="row" style="margin: 2vh 5vw 15vh 2vw">
        <div class="col-sm-12">
	<main>
	<div>
		<section id="disclaimer">
			<h2>Disclaimer</h2>
            <p>Community guidelines as presented here represent a shorthand, community forum focused description of principles ILMJTCV uses to maintain community standards. These guidelines do not replace or supersede the ILMJTCV Terms of Use and all user interaction with the Site is governed by the ILMJTCV Terms of Use.</p>
        </section>
		<section id="community_guidelines">
			<h2>Section I- Terms of Service for Community Members</h2>
			<p>The following terms and conditions apply to all Community Members (“Members”) and other users who access or use the Site as intended for individuals. Individuals agree to represent themselves when accessing the Site. For purposes of this Section I of the ILMJTCV General Terms of Use, all references to “you” or “your” shall mean you, the individual accessing this Site in your capacity as a Member.</p>
		    <section id="community_guidelines--safety">
				<h3>Safety</h3>
				<p>ILMJTCV prioritizes the safety of our users above all else. We want to promote a community where all users feel safe to post without fear of retribution. The community managers at ILMJTCV will remove any form of hate speech directed towards another user or person in the community. The user posting such speech is subject to suspension or expulsion from the ILMJTCV community.</p>
			    <p>Hate speech is defined, but not limited to, any post that intends to degrade a person or group, especially another user’s race, religion, or sexual orientation. It is at the sole discretion of ILMJTCV community managers to determine whether any speech fits this criteria.</p>
                <p>In addition, ILMJTCV community managerswill not tolerate and remove any post that attempts to promote or glorify suicide or self-harm. Any such post will subject the user to suspension or expulsion from the ILMJTCV community.</p>
                <p>Self-harm is defined as the deliberate act of damaging the body, including but not limited to: eating disorders, cutting oneself, and the intentional act of taking one’s own life.</p>
            </section>
			<section id="community_guidelines--violence">
				<h3>Violence</h3>
                <p>ILMJTCV maintains a zero-tolerance policy for any post that promotes or incites violence towards another user, person, or group. Any such post will be removed, and the user posting any threat to any person, group, animal, or property is subject to suspension or expulsion from the ILMJTCV community.</p>
                <p>A threat is defined as any stated intention to injure, kill or sexually assault another person, user or animal, or to damage property.</p>
                <p>Additionally, any users that state an intention of violence or advocates for any type of violence risk suspension or expulsion from the ILMJTCV community.</p>
            </section>
            <section id="community_guidelines--privacy">
				<h3>Privacy</h3>
                <p>ILMJTCV strongly values our users’ personal privacy and property rights.  Therefore, we ask that our users do not take content from other users in the community without their knowledge and consent. We ask that you respect the intellectual property of all members on the Site</p>
			    <p>Users should not publish the personal information of other members in the ILMJTCV community. Users publish such information at their own discretion and ILMJTCV makes no claim to protect such information from exploitation by other users. Publication of personal information may  subject the user to suspension or expulsion from the ILMJTCV community.</p>
                <p>Personal information includes but is not limited to: home or business address, phone number,, email or social media address,, medical records or medical information, and financial records or financial information.</p>
            </section>
			<section id="community_guidelines--authenticity">
				<h3>Authenticity</h3>
                <p>All users must only represent themselves in the ILMJTCV community and do so in an authentic manner. Any user impersonating another or presenting false information about themselves is subject to suspension or expulsion from the ILMJTCV community. Additionally, users must not post spam or other content intended to misdirect or defraud other users.</p>
            </section>
            <section id="community_guidelines--enforcement">
				<h3>Enforcement Policy</h3>
                <p>When looking at different posts our top priority is to be fair to our users and assume the best intentions. However any post that ILMJTCV community managers consider a violation of the community guidelines will be taken down immediately. If a user continues to violate the community guidelines, they may be suspended or expelled from the community, based on the severity of each violation.</p>
                <p>Email us <a href="mailto:support@ilmjtcv.com" class="menu-item">support@ilmjtcv.com</a>  to find out more about who the community managers are.</p>
            </section>
            <section id="community_guidelines--appeals">
				<h3>Appeals</h3>
                <p>Any user who believes their post was unfairly removed can request an appeal by emailing <a href="mailto:support@ilmjtcv.com" class="menu-item">support@ilmjtcv.com</a>. ILMJTCV is the sole arbiter of whether a post violates ILMJTCV community rules. ILMJTCV retains the sole right to remove any post, and to suspend or expel any user from the ILMJTCV community.</p>
            </section>
            <section id="community_guidelines--contact">
				<h3>Contact</h3>
                <p>Any questions about the ILMJTCV community rules should be directed to <a href="mailto:support@ilmjtcv.com" class="menu-item">support@ilmjtcv.com</a>.</p>
            </section>

        </section>
	</div>

{#	<nav class="section-nav">#}
{#		<ol style="list-style: none">#}
{#			<li><a href="#introduction">Introduction</a></li>#}
{#			<li><a href="#request-response">Request &amp; Response</a></li>#}
{#			<li><a href="#authentication">Authentication</a></li>#}
{#			<li><a href="#endpoints">Endpoints</a>#}
{#				<ul style="list-style: none">#}
{#					<li class=""><a href="#endpoints--root">Root</a></li>#}
{#					<li class=""><a href="#endpoints--cities-overview">Cities Overview</a></li>#}
{#					<li class=""><a href="#endpoints--city-detail">City Detail</a></li>#}
{#					<li class=""><a href="#endpoints--city-config">City Config</a></li>#}
{#					<li class=""><a href="#endpoints--city-spots-overview">City Spots Overview</a></li>#}
{#					<li class=""><a href="#endpoints--city-spot-detail">City Spot Detail</a></li>#}
{#					<li class=""><a href="#endpoints--city-icons-overview">City Icons Overview</a></li>#}
{#					<li class=""><a href="#endpoints--city-icon-detail">City Icon Detail</a></li>#}
{#				</ul>#}
{#			</li>#}
{#			<li class=""><a href="#links">Links</a></li>#}
{#			<li class=""><a href="#expanders">Expanders</a></li>#}
{#			<li class=""><a href="#filters">Filters</a></li>#}
{#		</ol>#}
{#	</nav>#}
</main>
    </div>
    </div>
{% endblock %}

{% block info_title %}
    Community Guidelines
{% endblock %}

