{% extends "auth/base_external.html" %}
{% block external_content %}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
            <div class="row">
                <div class="col-sm-11" style="text-align: center">
                    <h1 style="font-size: 40px; line-height: 44px">Welcome to ILMJTCV.com</h1>
                </div>
                <div class="row" style="text-align: center">
                    {% if current_user.is_anonymous %}
                        <div class="row">
                            <div class="col-sm-11">
                                Join the network of labor displaced by the coronavirus. Meet others like you. Chat. Support. Network. Build.
                            </div>
                        </div>
                        <div class="col-sm-5" style="margin-top: 15px; text-align: center;">
                            <button class="register-submit" onclick="document.location='{{ url_for('auth.register') }}'">Register</button>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5" style="margin-top: 15px; text-align: center; display: inline-block">
                            <button class="register-submit" onclick="document.location='{{ url_for('auth.login') }}'">Login</button>
                        </div>
                    {% else %}
                        <div class="col-sm-11">
                            <h4>You are already logged in!</h4>
                            <button class="register-submit" onclick="document.location='{{ url_for('main.user', username=current_user.username) }}'">View Profile</button>

                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row" style="margin-top: 50px">
                <div class="col-sm-12 hidden-xs hidden-sm">
                    {% if current_user.is_authenticated %}
                        <div class="features">
                            <div class="row">
                                <div class="col-sm-5 feature" onclick="document.location='/user/{{ current_user.username }}'">
                                    <i class="fas fa-link local-img fa-5x"></i>
                                    <h3 class="feature-title">Local Resources</h3>
                                    <p style="position: absolute; bottom: 0px; margin-right: 15px">We compile resources that we think would be helpful and relevant to you
                                    based on your industry and location.</p>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5 feature" onclick="document.location='/chat'">
                                    <i class="fas fa-users community-img fa-5x"></i>
                                    <h3 class="feature-title">Build Community</h3>
                                    <p style="position: absolute; bottom: 0px; margin-right: 15px" class="big-text">Upon registration you will be added
                                    to community forums based on your industry and location in which you can chat and network with others.</p>
                                </div>
                            <div class="row"></div>
                                <div class="col-sm-5 feature">
                                    <i class="fas fa-dollar-sign fa-5x pay-img"></i>
                                    <h3 class="feature-title">Pay Nothing</h3>
                                    <p style="position: absolute; bottom: 10px; margin-right: 15px; text-align: center">Our service is free to use for
                                        all! We are here to help you though this difficult time.</p>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5 feature" onclick="document.location='/jobs'">
                                     <i class="fas fa-briefcase fa-5x employment-img"></i>
                                    <h3 style="margin-bottom: 0px" class="feature-title employment">Find Employment</h3>
                                    <span style="margin-top: 20px">Partnered with</span> <img alt=Indeed src="{{ url_for('static', filename='images/indeed.png') }}" style="border: 0; vertical-align: middle;">
                                     <p style="position: absolute; bottom: 10px; margin-right: 15px; text-align: center" class="big-text">We are
                                     partnering with hiring agencies and job listers so we can connect you and get you back to employment!</p>
                                </div>
                            </div>
                    </div>
                    {% else %}
                        <div class="features">
                            <div class="row">
                                <div class="col-sm-5 feature">
                                    <i class="fas fa-link local-img fa-5x"></i>
                                    <h3 class="feature-title">Local Resources</h3>
                                    <p style="position: absolute; bottom: 0px; margin-right: 15px">We compile resources that we think would be helpful and relevant to you
                                    based on your industry and location.</p>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5 feature">
                                    <i class="fas fa-users community-img fa-5x"></i>
                                    <h3 class="feature-title">Build Community</h3>
                                    <p style="position: absolute; bottom: 0px; margin-right: 15px">Upon registration you will be added
                                    to community forums based on your industry and location in which you can chat and network with others.</p>
                                </div>
                            <div class="row"></div>
                                <div class="col-sm-5 feature">
                                    <i class="fas fa-dollar-sign fa-5x pay-img"></i>
                                    <h3 class="feature-title">Pay Nothing</h3>
                                    <p style="position: absolute; bottom: 10px; margin-right: 15px; text-align: center">Our service is free to use for
                                        all! We are here to help you though this difficult time.</p>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5 feature">
                                     <i class="fas fa-briefcase fa-5x employment-img"></i>
                                    <h3 style="margin-bottom: 0px" class="feature-title">Find Employment</h3>
                                    <span style="margin-top: 20px">Partnered with</span> <img alt=Indeed src="{{ url_for('static', filename='images/indeed.png') }}" style="border: 0; vertical-align: middle;">
                                     <p style="position: absolute; bottom: 10px; margin-right: 15px; text-align: center">We are
                                     partnering with hiring agencies and job listers so we can connect you and get you back to employment!</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-12 hidden-md hidden-lg hidden-print col-sm-offset-2">
                    {% if current_user.is_authenticated %}
                        <div class="features">
                            <div class="row">
                                <div class="col-sm-12 feature feature-s" onclick="document.location='/user/{{ current_user.username }}'">
                                    <i class="fas fa-link local-img fa-5x"></i>
                                    <h3 class="feature-title">Local Resources</h3>
                                    <p style="position: absolute; bottom: 0px; margin-right: 15px">We compile resources that we think would be helpful and relevant to you
                                    based on your industry and location.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 feature feature-s" onclick="document.location='/chat'">
                                    <i class="fas fa-users community-img fa-5x"></i>
                                    <h3 class="feature-title">Build Community</h3>
                                    <p style="position: absolute; bottom: 0px; margin-right: 15px" class="big-text">Upon registration you will be added
                                    to community forums based on your industry and location in which you can chat and network with others.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 feature feature-s">
                                    <i class="fas fa-dollar-sign fa-5x pay-img"></i>
                                    <h3 class="feature-title">Pay Nothing</h3>
                                    <p style="position: absolute; bottom: 10px; margin-right: 15px; text-align: center">Our service is free to use for
                                        all! We are here to help you though this difficult time.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 feature feature-s" onclick="document.location='/jobs'">
                                     <i class="fas fa-briefcase fa-5x employment-img"></i>
                                    <h3 style="margin-bottom: 0px" class="feature-title employment">Find Employment</h3>
                                    <span style="margin-top: 20px">Partnered with</span> <img alt=Indeed src="{{ url_for('static', filename='images/indeed.png') }}" style="border: 0; vertical-align: middle;">
                                     <p style="position: absolute; bottom: 10px; margin-right: 15px; text-align: center" class="big-text">We are
                                     partnering with hiring agencies and job listers so we can connect you and get you back to employment!</p>
                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="features">
                            <div class="row">
                                <div class="col-sm-12 feature feature-s">
                                    <i class="fas fa-link local-img fa-5x"></i>
                                    <h3 class="feature-title">Local Resources</h3>
                                    <p style="position: absolute; bottom: 0px; margin-right: 15px">We compile resources that we think would be helpful and relevant to you
                                    based on your industry and location.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 feature feature-s">
                                    <i class="fas fa-users community-img fa-5x"></i>
                                    <h3 class="feature-title">Build Community</h3>
                                    <p style="position: absolute; bottom: 0px; margin-right: 15px">Upon registration you will be added
                                    to community forums based on your industry and location in which you can chat and network with others.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 feature feature-s">
                                    <i class="fas fa-dollar-sign fa-5x pay-img"></i>
                                    <h3 class="feature-title">Pay Nothing</h3>
                                    <p style="position: absolute; bottom: 10px; margin-right: 15px; text-align: center">Our service is free to use for
                                        all! We are here to help you though this difficult time.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 feature feature-s">
                                     <i class="fas fa-briefcase fa-5x employment-img"></i>
                                    <h3 style="margin-bottom: 0px" class="feature-title">Find Employment</h3>
                                    <span style="margin-top: 20px">Partnered with</span> <img alt=Indeed src="{{ url_for('static', filename='images/indeed.png') }}" style="border: 0; vertical-align: middle;">
                                     <p style="position: absolute; bottom: 10px; margin-right: 15px; text-align: center">We are
                                     partnering with hiring agencies and job listers so we can connect you and get you back to employment!</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

