{% extends "info.html" %}
{% block info_content %}
    <div class="row" style="margin: 2vh 5vw 15vh 5vw">
            <div class="row"></div>
            <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                            <div class="row message-paragraph">
                                <div class="col-md-1"></div>
                                <div class="col-md-10 paragraph-text paragraph-text-l">
                                    <span class="extreme">Thank you</span> to the many people who have helped make ILMJTCV possible.
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="card_thx">
                        <div class="container">
                            <div class="row" style="margin-top: 10px"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{{ url_for('static', filename='images/abby.jpeg') }}" alt="Abby" style="width:100%; margin-top: 20px" class="img-rounded">
                                </div>
                                <div class="col-md-8">
                                    <h2 style="text-align: left; font-weight: bold; color: #30415d">Abby Stein</h2>
                                    <h4 style="font-weight: lighter">Worked as a web designer and developer to improve user experience.</h4>
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <i class="fab fa-linkedin-in fa-2x icon_click" onclick="window.open('https://www.linkedin.com/in/abigail-stein-07a21b168/','_blank')"></i>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <i class="fas fa-globe fa-2x icon_click" onclick="window.open('https://www.steinab.com/','_blank')"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 style="font-weight: lighter; text-align: left">Abby is a rising senior at the University of Pennsylvania majoring in Mechanical Engineering and minoring in Computer Science. </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="card_thx">
                        <div class="container">
                            <div class="row" style="margin-top: 10px"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{{ url_for('static', filename='images/aliza.jpeg') }}" alt="Aliza" style="width:100%; margin-top: 20px" class="img-rounded">
                                </div>
                                <div class="col-md-8">
                                    <h2 style="text-align: left; font-weight: bold; color: #30415d">Aliza Hochsztein</h2>
                                    <h4 style="font-weight: lighter">Worked as a graphic designer to create the company logo.</h4>
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <i class="fab fa-linkedin-in fa-2x icon_click" onclick="window.open('https://www.linkedin.com/in/aliza-hochsztein-698659111/','_blank')"></i>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <i class="fas fa-globe fa-2x icon_click" onclick="window.open('http://www.alizahoch.com/','_blank')"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 style="font-weight: lighter; text-align: left">Aliza is a software engineer at Airbnb and a freelance artist and graphic designer.</h4>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-md visible-lg visible-sm"></div>

                <div class="col-md-6 col-sm-6">
                    <div class="card_thx">
                        <div class="container">
                            <div class="row" style="margin-top: 10px"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{{ url_for('static', filename='images/jonathan.jpg') }}" alt="Jonathan" style="width:100%; margin-top: 20px" class="img-rounded">
                                </div>
                                <div class="col-md-8">
                                    <h2 style="text-align: left; font-weight: bold; color: #30415d">Jonathan Shulman</h2>
                                    <h4 style="font-weight: lighter">Worked as a video animator to produce promotional materials.</h4>
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <i class="fab fa-linkedin-in fa-2x icon_click" onclick="window.open('https://www.linkedin.com/in/jonathan-shulman-a66706172/','_blank')"></i>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <i class="fas fa-globe fa-2x icon_click" onclick="window.open('https://www.jjshulman.com/','_blank')"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 style="font-weight: lighter; text-align: left">Jonathan is a freelance animator and eventually wants to combine his passion for child psychology with animation by creating educational content.</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="card_thx">
                        <div class="container">
                            <div class="row" style="margin-top: 10px"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{{ url_for('static', filename='images/rachel.jpg') }}" alt="Rachel" style="width:100%; margin-top: 20px" class="img-rounded">
                                </div>
                                <div class="col-md-8">
                                    <h2 style="text-align: left; font-weight: bold; color: #30415d">Rachel Beiser</h2>
                                    <h4 style="font-weight: lighter">Worked as a UX/UI web designer to build the first launched MVP.</h4>
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <i class="fab fa-linkedin-in fa-2x icon_click" onclick="window.open('https://www.linkedin.com/in/rachelbeiser/','_blank')"></i>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <i class="fas fa-globe fa-2x icon_click" onclick="window.open('https://rachelbeiser.com/','_blank')"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 style="font-weight: lighter; text-align: left">Rachel is a product designer at Urbint working to make a positive impact on people’s lives through intentional and beautiful design.</h4>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-md visible-lg visible-sm"></div>

                <div class="col-md-6 col-sm-6">
                    <div class="card_thx">
                        <div class="container">
                            <div class="row" style="margin-top: 10px"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{{ url_for('static', filename='images/simcha.jpeg') }}" alt="Simcha" style="width:100%; margin-top: 20px" class="img-rounded">
                                </div>
                                <div class="col-md-8">
                                    <h2 style="text-align: left; font-weight: bold; color: #30415d">Simcha Stadlan</h2>
                                    <h4 style="font-weight: lighter">Worked as a front end web developer to standardize webpages.</h4>
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <i class="fab fa-linkedin-in fa-2x icon_click" onclick="window.open('https://www.linkedin.com/in/simcha-stadlan-088327149/','_blank')"></i>
                                        </div>
        {#                                <div class="col-md-2 col-sm-2">#}
        {#                                    <i class="fas fa-globe fa-2x icon_click" onclick="window.open('https://rachelbeiser.com/','_blank')"></i>#}
        {#                                </div>#}
                                    </div>
                                </div>
                            </div>
                            <h4 style="font-weight: lighter; text-align: left">Simcha is a rising senior at The Wharton School concentrating in Product Development and Analytics and minoring in Computer Science and Data Science.</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="card_thx">
                        <div class="container">
                            <div class="row" style="margin-top: 10px"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{{ url_for('static', filename='images/rachel_brenner.jpeg') }}" alt="Rachel" style="width:100%; margin-top: 20px" class="img-rounded">
                                </div>
                                <div class="col-md-8">
                                    <h2 style="text-align: left; font-weight: bold; color: #30415d">Rachel Brenner</h2>
                                    <h4 style="font-weight: lighter">Manages ILMJTCV's recruiter and mentor relationships in addition to leading our marketing and user acquisition efforts.</h4>
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <i class="fab fa-linkedin-in fa-2x icon_click" onclick="window.open('http://linkedin.com/in/rachel-brenner-1519aa120','_blank')"></i>
                                        </div>
        {#                                <div class="col-md-2 col-sm-2">#}
        {#                                    <i class="fas fa-globe fa-2x icon_click" onclick="window.open('https://rachelbeiser.com/','_blank')"></i>#}
        {#                                </div>#}
                                    </div>
                                </div>
                            </div>
                            <h4 style="font-weight: lighter; text-align: left">Rachel incoming senior at the University of Pennsylvania, studying Operations and Marketing.</h4>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-md visible-lg visible-sm"></div>

                <div class="col-md-6 col-sm-6">
                    <div class="card_thx">
                        <div class="container">
                            <div class="row" style="margin-top: 10px"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{{ url_for('static', filename='images/amanda.png') }}" alt="Rachel" style="width:100%; margin-top: 20px" class="img-rounded">
                                </div>
                                <div class="col-md-8">
                                    <h2 style="text-align: left; font-weight: bold; color: #30415d">Amanda Jedwab</h2>
                                    <h4 style="font-weight: lighter">Developed resources that will allow our users to land jobs, as well as find networking events and opportunities. </h4>
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <i class="fab fa-linkedin-in fa-2x icon_click" onclick="window.open('https://linkedin.com/in/amanda-jedwab-3bb419195','_blank')"></i>
                                        </div>
        {#                                <div class="col-md-2 col-sm-2">#}
        {#                                    <i class="fas fa-globe fa-2x icon_click" onclick="window.open('https://rachelbeiser.com/','_blank')"></i>#}
        {#                                </div>#}
                                    </div>
                                </div>
                            </div>
                            <h4 style="font-weight: lighter; text-align: left">Amanda is a rising senior at Hunter College majoring in Psychology and minoring in Sociology. </h4>
                        </div>
                    </div>
                </div>
            </div>
    </div>


    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/external.css') }}">
{% endblock %}
{% block info_title %}
    Our Thank You's
{% endblock %}

