<div class="row note" style="margin: 5px 0" ss-note-id="{{ note.id }}">
    <p style="margin-bottom: 5px; margin-left: 5px; color: #818181"><a class="note_name" style="color: black" href="{{ url_for('main.user', username=note.recruiter.user.username) }}" >{{ note.recruiter.user.name }}</a> ~~ {{ moment(note.timestamp).fromNow() }}</p>
    <div style="margin-top: 1px; width: 90%; margin-right: 15px; margin-left: 5px"><span style="color: #30415d; font-size: 18px" class="no-highlight"> ↳ </span><span class="note_text" ss-note-id="{{ note.id }}">{{ note.body }}</span>{% if current_user == note.recruiter.user %}<div class="comment-option note-edit ss-note-edit" ss-note-id="{{note.id}}"><i class="fas fa-pencil-alt" aria-hidden="true"></i></div>{% endif %}</div>
</div>

