body{
    overflow-x: hidden;
}
a:hover { color: #000000;   }
a {color: black}
li a .navbar-default .navbar-nav {
    color: #30415d;
}

li.active-menu {border-bottom: 3px; border-color: black; border-bottom-style: solid; font-weight: 900}

* {
    box-sizing: border-box;
    word-break: break-word;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
 font-weight: 700;
}

.navbar-brand:hover{
    color: #4D80E4 !important
}

.navbar-brand{
    color: #30415d !important
}

.menu-item{
    color: #30415d !important;
    cursor: pointer;
     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}

.menu-item:hover{
    color: #4D80E4 !important
}

.menu-item-active{
    color: #4D80E4 !important
}

.menu-item-active:hover{
    cursor: not-allowed;
    text-decoration: underline;
}

.menu-item:hover > .external-logo{
    color: #cf6766;
}

.menu-item-active:hover > .external-logo{
    color: #cf6766;
}

.container {
    /*margin-top: 10px;*/
    position: relative;
    /*min-height: 80vh;*/

}


.comment-info {
    font-size: 12px;
    line-height: 15px;
    color: #828282;
}

.comment-body {
    font-size: 14px;
    line-height: 17px;
}

.post{
}

.post-forum-title {
    margin-top: 0px;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold
}

.post-page {
    max-width: 70%;
}

.post-body {
    font-size: 14px;
    line-height: 17px;
    min-width: 150px;
}
.post-img-col {
    width: 10%;
}

.post-content-col {
    width: 90%;
    max-width: available;
}

.posts-preview{

}

.post-preview-title {
    margin-top: 0px;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
}

.post-preview-body {
    font-size: 14px;
    line-height: 17px;
    margin-left: 10px;
    max-height: 55px;
    overflow: hidden
}

.post-username {
    font-size: 12px;
    line-height: 15px;
    color: #828282;
}

.post-timestamp {
    float: right;
    font-size: 12px;
}

.channels {
    background-color: #F2F2F2;
    border-radius: 10px;
    /*width: 23%;*/
    float: left;
    height: 615px;
    max-height: 615px;
    box-sizing: border-box;
    margin-right: 50px;
}

.channels-header {
    margin-top: 24px;
    margin-left: 19px
}

.channels-header-mobile {
    margin-top: 12px;
    margin-bottom: 0px;
    border-radius: 10px;
}

.channel{
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    margin-top: 13px;
    width: 100%;
    margin-left: unset;
}

.channels-list {
    height: 275px;
    overflow: auto;
    background-color: #F2F2F2;
    font-size: 16px;
    line-height: 19px;
    margin-left: 19px;
    margin-right: 15px;
    margin-top: 27px
}

.suggested_channels{
    height: 225px;
    font-size: 16px;
    line-height: 19px;
    margin-left: 19px;
    margin-right: 15px;
    overflow: auto;
}
.channel-posts {
    width: 48%;
    margin-left: 60px;
}

.posts-filter {
    font-size: 14px;
    line-height: 17px;
    margin-top: 35px;
    margin-bottom: 17px;
}

.posts-filter-rectangle{
    margin-left: 16px;
    margin-right: 16px;
    position:absolute;
    height: 14px;
    width: 25px;
    border: 2px solid #000000;
    border-radius: 10px;
    margin-top: 2px;
}
.posts-filter-rectangle:hover{
    border-color: #a94442;
}

.posts-filter-rectangle:hover > .posts-filter-circle{
    border-color: #a94442;
    background-color: #a94442;
}

.posts-filter-circle{
    position: absolute;
    width: 6px;
    height: 6px;
    background: #000000;
    border: 2px solid #000000;
    border-radius: 30px;
    margin-top: 2px;
    margin-left: 2px
}

.posts-previews {

}

.posts-showcase {
    margin-bottom: 5px;
    max-height: 600px
}

.posts-view-all {
    font-size: 14px;
    float: right
}

.no-posts {
    text-align: center;
    margin-bottom: 140px;
}

.sidebar {
    width: 30%;
    padding: 5px
}

.forum-posts {
    width: 70%;
}

.forum-post {

}

.login {
    text-align-all: center;
}

.login-username{
    width: 100%;
}

.login-password{

}

.login-remember-me{

}

.login-submit


.user-page-img-col {
    width: 20%;
    margin-top: 2%;
    margin-left: 10%;
}
.user-page-content-col {
    width: 80%;
}

.control-label {

}


.register-first {

}

.register-last {
    margin-top: 5px;
}

.register-username {

}

.register-email {

}

.register-password {

}

.register-password2 {

}

.register-country {

}

.register-zip {

}

.register-city {

}

.register-next {

}

.register-industry {

}

.register-company-name {

}

.register-position{

}

.register-experience{

}

.register-resume{
    margin-bottom: 5px;
}

.register-submit{
    height: 35px;
    width: 140px;
    border: 2px solid #4D80E4;
    border-radius: 24px;
    color: #4D80E4;
    outline: none;
}

.register-submit:hover{
    background-color: #4D80E4;
    color: white;
}

.note-submit {
    height: 35px;
    border: 2px solid #4D80E4;
    border-radius: 24px;
    color: #4D80E4;
}

.note-submit:hover{
    background-color: #4D80E4;
    color: white;
}

.reset-email {

}

.reset-submit{

}

.reset-password{

}

.reset-password2{

}

.post-form-col {
    width: 25%

}

.post-form {
    display: none;
}

.post-title-form{

}

.post-body-form {
   resize : vertical;
    max-height: 350px;
    min-height: 54px;
}

.post-submit-form {
    float: right;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 2px solid #4D80E4;
    border-radius: 24px;
    color: #4D80E4;
}


.comment-form {

}

.comment-body-form {
    resize: vertical;
    max-height: 75px;
    min-height: 35px;
    height: 35px;
    margin-top: 5px;

}

textarea.form-control{

}

.comment-submit-form {
    float: right;
}


.navbar-default {
    color: #30415d;
}

.navbar-nav {
    color: #30415d;
}

.top-nav{
    padding-top: 25px;
    font-size: 20px;
}

.top-nav_authenticated{
    padding-top: 10px;
    font-size: 20px;
}

.img-rounded {
    border-radius: 100px;
}

.table-borderless>tbody>tr>td {
    border: 0px;
}

.channel-content {
    /*box-sizing: border-box;*/
    /*width: 40%;*/
    float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.forum-title{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    animation: bounce;
    animation-duration: 5s;
}

.filter-top {
    margin-left: 60px;
}

.create-post{
    float: right;
}

.create-post-circle{
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1.4px solid #000000;
    border-radius: 30px;
    margin-top: 2px;
}

.active-row{
    background-color: #F5F5F5;
}

.post-col{
    display: none;
    margin-top: 68px;
}

.user-img{
    display: inline;
    float: left;
    width: 15%;
}

.post-title{
    margin-top: 0px;
    font-size: 16px;
    line-height: 19px;
    display: inline;
    padding-left: 3px;
}

.comments{

}

.register-left-pane{
    background: url("/static/images/world-map.png") #30415d !important;
    height: 750px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    border-radius: 20px;
}

.register-left-pane-s{
    margin-top: 25px;
    background: url("/static/images/world-map.png") #30415d !important;
    height: 660px;
    color: white;
    font-size: 14px;
    line-height: 16px;
    border-radius: 20px;
}

.register-personal{

}

.registration-circle{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 40px;
    background-color: #C4C4C4;
    color: black;

}

.registration-line{
    position: absolute;
    width: 80%;
    height: 0px;
    border: 1px solid #C4C4C4;
    margin-top: 12px;
}

.personal-info{
font-size: 8px;
line-height: 10px;
    margin-top: 30px;
    position: absolute;
    margin-left: 7px;
}

.industry-info{
font-size: 8px;
line-height: 10px;
    margin-top: 30px;
    position: absolute;
    margin-left: 217px;
}

.review{
    font-size: 8px;
line-height: 10px;
    margin-top: 30px;
    position: absolute;
    margin-left: 410px;

}

.register-3-bar{
    margin-top: 5px;
}

.user-info{
    color: #828282;
}

.map-filtering{
    display: none;
}

.map{
    position: fixed;
}

.navbar{
    min-height: 50px;
    display: block;
    border-radius: 4px;
    background-image: url("/static/images/pattern.png");
    background-position: center center;
    background-repeat: repeat;
    /*overflow: hidden;*/
    color: #30415d;
    font-family: Lato;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    margin-bottom: 0;
    z-index: 10;
}

.nav>li>a:hover {
    text-decoration: none !important;
     background-color: transparent !important;
}
.navbar:hover{
    background-color: #f9f9f9;
    background-image: none;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.8s;
    border-radius: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  /*background-color: #ccc;*/
}

.active-mobile, .accordion:hover {
  background-color: #ddd;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 10px 12px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.edit-submit{
    height: 35px;
    width: 140px;
    border: 2px solid #4D80E4;
    border-radius: 24px;
    color: #4D80E4;
    float: right;
    margin-top: 15px;
}

.post-col-preview{
    float: left;
    width: 80%;
}

.dropdown-menu>li>a {
    color: #777;
    padding-left: 15px;
}

.dropdown-menu>li>a:hover {
    background-color: #f9f9f9;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #f9f9f9;
}

.navbar>li>a>:focus{
    color: #4D80E4;
}

.footer{
    position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.social{
    padding-left: 7px;
    padding-right: 7px;
}

.pagination>.active>a{
    background-color: black;
    border-color: black;
}
.pagination>li>a{
    color: black;
}

.register-date{
    padding-right: 0px;
    padding-left: 0px;
    height: 34px;
}

.accordion-reg {
  color: #444;
  cursor: pointer;
  width: 100%;
  text-align: left;
  transition: 0.4s;
}

.accordion-reg:hover {
  color: #4D80E4;
}

.job_listing{
    cursor: pointer;
    width: 100%;
  text-align: left;
  transition: 0.4s;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    font-weight: normal;


}

.job_listing:hover{
    color: #4D80E4;
}

.job_info{
    padding: 0 18px;
  display: none;
  background-color: #f7f7f7;
  overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
}

.active_job{
    color: #4D80E4;
    background-color: #f7f7f7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 10px;
}
#membership {
  padding: 0 18px;
  background-color: transparent;
  overflow: hidden;
    display: none;
    font-size: 18px;
}

.active-reg{
color: #4D80E4;
}

.forums-profile{
    max-height: 250px;
    overflow: auto;
}

.resources-profile{
    max-height: 250px;
    overflow: auto;
}

.posts-filter-rectangle:hover{
    cursor: pointer;
}

.footer-option:hover{
    color: #4D80E4;
    text-decoration: underline;
}

.faded{
    opacity: 1;
    display: inline;
    height: auto;
    transition: .2s ease;
    backface-visibility: hidden;
}

.edit-img {
    position: relative
}
.edit-img:hover .faded {
  opacity: 0.3;
}

.edit-img:hover .middle {
  opacity: 0.8;
}

.middle {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
    cursor: pointer;
    width: 100px;
}
.edit-img:hover .top-img {
  opacity: 0.8;
}
.top-img{
        margin-right: 50px;
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 33%;
  left: 35%;
  transform: translate(-50%, -33%);
  -ms-transform: translate(-50%, -33%);
  text-align: center;
    cursor: pointer;
}

.edit-img:hover .bottom-img {
  opacity: 0.8;
}

.top-img:hover{
    color: #4D80E4;
}

.bottom-img:hover{
    color: #4D80E4;
}


.bottom-img{
        margin-right: 50px;
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 72%;
  left: 35%;
  transform: translate(-50%, -72%);
  -ms-transform: translate(-50%, -72%);
  text-align: center;
    cursor: pointer;
}

@media (max-width: 750px) {
    .register-position-col{
      margin-top: 10px;
    }
    .register-date{
        margin-top: 7px;
    }


}

@media (max-width: 789px){
.board_subject{
        padding-left: 60px;
    }
.post-preview-body{
    padding-left: 30px;
}
.post-preview-title{
    padding-left: 60px;
}
.add{
    margin-bottom: 10px;
}
.content_container{
    padding: 0 10px;
}
}

@media( max-width: 991px){
    .external-text{
        font-size: 16px; line-height: 18px;
        margin-top: 30px !important;
    }
}

@media( max-width: 768px){
    .menu-item{
        text-align: center;
    }
    .menu-item-active{
        text-align: center;
    }
}

@media (max-width: 995px) {
    .feature{
        min-width: 280px;
    }
    .feature-title{
        padding-top: 10px;
    }
}

.form-control{
text-overflow: ellipsis;
}

.options{
    padding-top: 0px;
    padding-bottom: 0px;
}

.option-g:hover{
    color: red;
}
.option-g{
    margin-left: 7px;
}

.popover-content{
    opacity: 0.8;
    font-size: 12px;
    line-height: 15px;
    color: #828282;
    padding: 5px 9px;
    border-radius: 3px;
    word-break: break-word;
}
.popover{
    border-color: #eee;
    min-width: 100px;
}

.arrow{
    opacity: 0.8;
    border-top-color: #eee!important;
}
.report-comment{
  box-shadow: 0 0 5px red;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid red;
}

.features{
    text-align: center;
}

.feature{
    min-height: 250px;
    margin-bottom: 35px;
    background-color: #f7f7f7;
    border-radius: 10px;
    max-width: 335px;
    cursor: pointer;
}

.add_recruiter{
    float: right;
}
.add_recruiter:hover{
    color: #4D80E4;
    cursor: pointer;
}
.add_recruiter:hover > .add_r{
    color: orange;
}

.feature:hover{
    background-color: #f3f3f3;
    border: #4D80E4 1px solid;
}

.feature:hover > .community-img{
    color: orange;
}

.feature:hover > .employment-img{
    color: orange;
}


.feature:hover > .local-img{
    color: orange;
}


.feature:hover > .pay-img{
    color: orange;
}



.local-img{
    top: 29%;
    left: 37%;
    position: absolute;
}

.pay-img{
    top: 31%;
    left: 42%;
    position: absolute;
}

.community-img{
    top: 26%;
    left: 35%;
    position: absolute;
}

.employment-img{
    top: 30%;
    left: 38%;
    position: absolute;
}

.employment-img:hover .community-img:hover .pay-img:hover .local-img:hover{
    color: orange;
}

#q{
    background-image: url("https://img.icons8.com/android/16/000000/search.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    padding: 10px 5px 10px 20px;
    text-indent: 20px;

    -webkit-transition: all 0.2s;
    -moz-transition: all 2s;
    transition: all 0.2s;

    width: 200px;

}

.badge{
      position: relative;
  top: 5px;
  right: 0px;
  border-radius: 50%;
  background: #cf6766;
  color: white;
    font-size: 11px;
}

.unread {
    background-color: #d9edf7;
    border-color: #bce8f1;
    border: 1px solid transparent;
    border-radius: 4px;
}
.unread_dot{
    margin-top: 18px;
    margin-left: 15px;
    position: absolute;
    opacity: 0.7;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    color: #4D80E4;
    background-color: blue;
}

.unread:hover{
    background-color: #76a7df;
    border-color: #bce8f1;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.ui-autocomplete{
    background-color: #ccc;
    max-width: 636px;
}

.ui-helper-hidden-accessible{
    visibility: hidden;
}

.search_results{
    height: 50px;
    width: 100%;
    overflow: auto;
    display: none;
}

.search_results .active{
    display: table;
}

@media (max-width: 1200px){
    .apply{
        margin-top: 0;
    }
}

@media(max-width: 1150px){
    .candidacy-text{
        margin-top: 3px !important;
    }
}

.candidacy-text{
        margin-top: 13px;
    }

.candidacy-img{
    margin-top: 5px;
}

.candidacy{
    border-top: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
    margin-left: 2px;
    min-height: 60px;
}

@media (max-width: 768px) {
    .jobs-table{
        border-top: #ddd 1px solid;
        margin-top: 15px;
    }
    .searches-table{
        border-top: #ddd 1px solid;
    }
    .application_btn{
        padding: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .left_img{
        margin-top: 20px !important;
    }
    .job-notes-col{
        border-bottom: #ddd 1px solid;
        padding: 5px 0;
    }

    }

@media (min-width: 768px) {
    .job-notes-col{
        border-right: #ddd 1px solid;
        padding-right: 5px;
    }
        .jobs-table{
        border-left: #ddd 1px solid;
            margin-left: 15px;
    }
    .searches-table{
        border-left: #ddd 1px solid;
    }
    }
.nav-tabs>li.active_tab>a{
    color: #4D80E4 !important;
    background-color: #eee;
}

.nav-tabs>li.active_tab>a:hover{
    cursor: not-allowed;
    background-color: #eee;
}

.active{
    background-color: transparent;
}

.user_added{
    background-color: #eee;
    border-radius: 10px;
    padding: 1px 7px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-image: initial;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    letter-spacing: normal;
    word-spacing: normal;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    margin: 0;
    font: inherit;
    color: inherit;
;
}

.user_added:hover > .remove-x{
    color: orange;
}

#info:hover{
    color: #4D80E4;
}

.no-highlight{
 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

.terminate{
    height: 35px;
    border: 2px solid #ff726f;
    border-radius: 24px;
    color: #ff726f;
}

.terminate:hover{
    background-color: #ff726f;
    color: white;
}

#candidates, #strongly, #considering, #removed, #applied, #viewed, #uninterested{
    list-style-type: decimal;
    padding: 0;
    margin: 0 0 0 25px;
    width: 90%;
}

#candidates li, #strongly li,#considering li , #removed li, #applied li, #uninterested li, #viewed li{
margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 0.7em; font-size: 17px; border-radius: 50px;
}



.default {
    background: #eee;
    border: 1px solid #DDDDDD;
    color: #333333;
}

.candidates-row{
    min-height: 200px;
    max-height: 350px;
}

.viewer{
    border-radius: 30px; background-color: #eee; min-height: 900px
}

.active-candidate{
    color: #76a7df;
}


.remove{
    height: 35px;
    border: 2px solid #ff726f;
    border-radius: 24px;
    color: #ff726f;
    background-color: #eee;
}

.remove:hover{
    color: #eee;
    background-color: #ff726f;
}
.add{
    height: 35px;
    border: 2px solid #92ca91;
    border-radius: 24px;
    color: #92ca91;
    background-color: #eee;
}

.add:hover{
    color: #eee;
    background-color: #92ca91;
}

/*.input-form{*/
/*    display: flex;*/
/*    flex-direction: column-reverse;*/
/*    margin: 1.2em 0;*/
/*}*/

/*input,*/
/*label{*/
/*    transition: 0.4s ease;*/
/*}*/

/*label{*/
/*    padding-left: 10px;*/
/*    transform: translate(4px, -14px) scale(1.02);*/
/*    margin-bottom: 2px;*/
/*    cursor: text;*/
/*    transform-origin: left top;*/
/*    color: #757575;*/
/*    position: absolute;*/
/*}*/

/*input:focus,*/
/*input:not(:placeholder-shown){*/
/*    border-bottom: 2px solid black;*/
/*    outline: none;*/
/*}*/

/*input:not(:placeholder-shown) ~ label,*/
/*input:focus ~ label{*/
/*    transform: translate(10px, -35px) scale(0.8);*/
/*    padding-left: 0px;*/
/*    color: black;*/
/*    outline: none;*/
/*}*/

/*input{*/
/*    font-size: 1.2em;*/
/*    padding: 30px 10px 10px 10px;*/
/*    border: none;*/
/*    border-bottom: 2px solid #9e9e9e;*/
/*    border-radius: 5px 5px 0px 0px;*/
/*    outline: none;*/
/*}*/

/*input::placeholder{*/
/*    opacity: 0;*/
/*    outline: none;*/
/*}*/

.forum_tb:hover{
    text-decoration: underline;
}

.profile-ico:hover{
    color: orange;
}

.char-reached{
    color: red;
}

.char-counter{
    font-size: 11px;
    float: right;
    margin-bottom: 0px;
}

.validator{
    font-size: 11px;
    color: #a94442;
    text-align: center;
    margin-top: 3px;
}

.validator-success{
    font-size: 11px;
    color: green;
    margin-top: 3px;

}

.form-control:focus{
    border-color: #30415d;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #30415d;
}

.incorrect{
        border-color: #a94442 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #a94442 !important;
}

.incorrect_text{
    color: #a94442 !important;
}

.non-unique{
    border-color: #a94442 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #a94442 !important;
}

.non_unique_text{
    color: #a94442 !important;
    padding-bottom: 15px;
}

.alert-info{
        position: relative;
    width: auto;
    overflow: hidden;
    text-align: center;
    color: #30415d;
    font-weight: bold;
    margin: 10px 20px;
    border-radius: 30px;
    font-size: 17px;
    background: rgba(228,77,77,.25);
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.external-logo:hover{
    color: orange;
}

.recruiter_comment_name{
    border-bottom: 1px black solid;
}

.recruiter_comment_name:hover{
    color: #4D80E4 !important;
    border-bottom: 1px dotted #4D80E4 !important;
    cursor: pointer;
}

.note_name{
}

.note_name:hover{
    color: #4D80E4 !important;
    cursor: pointer;
}

.add_note{
    margin-left: 15px; color: #4D80E4; font-size: 14px; line-height: 20px; cursor: pointer; display: inline;
}

.add_note:hover{
    color: orange;
}

.handle:hover{
    color: orange;
    cursor: move;
}

.note{
    width: 100%;
    margin: 0;
    margin-bottom: 20px !important;
    border-radius: 15px;
    background-color: #f8f8ff;
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
}

.participant_note{
    width: 100%;
    margin: 0;
    margin-bottom: 20px !important;
    border-radius: 15px;
    background-color: #f8f8ff;
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
}

.note-text{
    margin-top: 1px; width: 90%; margin-right: 15px; margin-left: 5px; color: black;
}

.feature-s{
    max-width: 350px !important;
    margin: auto;
}

.visibility{
    font-size: 11px;
    color: darkgray;
    border: 2px solid darkgray;
    border-radius: 24px;
    padding: 3px 10px;
    display: inline;
}


.visibility:hover{
    font-size: 11px;
    background-color: white;
    color: orange;
    border: 2px solid orange;
}

button{
    background-color: white;
}

.mark-read{
    height: 25px;
    border: 2px solid #4D80E4;
    border-radius: 24px;
    color: #4D80E4;
    background-color: transparent;
    font-size: 11px;
}
.normal-wb{
    word-break: normal;
}

.flame{
    color: #cf6766;
}

.flame:hover{
    color: #4D80E4 !important
}

.job-found{
    height: 35px;
    border: 2px solid #4D80E4;
    border-radius: 24px;
    color: #4D80E4;
    width: 100%;
    float: right;
}

.job-found:hover{
    background-color: #4D80E4;
    color: white;
}

.active-city{
    color: orange;
}

.modal-open .modal-backdrop.in:nth-child(2) { opacity: 0.2 }
.modal-backdrop.in { opacity: 0.2 }

.modal-header{
     background-image: url("/static/images/pattern.png");
    /*background-size: 144px;*/
    position: relative;
    width: auto;
    background-position: center center;
    background-repeat: repeat;
    overflow: hidden;
}

.modal-heaer .normal{
    background-image: none;
    /*background-size: 144px;*/
    position: relative;
    width: unset;
    background-position: unset;
    background-repeat: unset;
    overflow: hidden;
}

.modal-content{
    background-color: #f9f9f9;
}

.alert-close{
    float: right;
    color: #30415d;
    font-size: 40px;
    line-height: 15px;
    cursor: pointer;
}
.alert-close:hover{
    float: right;
    color: green;
}



.re_send_confirmation:hover{
    color: #4D80E4;
    cursor: pointer;
}

.add_forum{
    border: 2px solid #4D80E4;
    border-radius: 24px;
    color: #4D80E4;
    background-color: transparent;
}

.add_forum:hover{
    color: #F2F2F2;
    background-color: #4D80E4;
    border-color: #F2F2F2;
}

.message{
    background-color: #f3f3f3;
}

.founders-container{
    background-color: #30415d;
}

.feedback{
    background-image: url("/static/images/pattern.png");
    position: relative;
    width: auto;
    background-position: center center;
    background-repeat: repeat;
    overflow: hidden;
    animation: fadein 2s;
    color: #30415d;
    min-height: 400px !important;
}

.paragraph-text{
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
}

.extreme{
    color: #30415d;
    font-size: 32px;
    font-weight: bold;
}

.no-padding{
    padding: 0;
}

@media (max-width: 1350px) {
    .paragraph-text-l{
      margin-left: 40px;
    }
}

@media (max-width: 994px) {
    .paragraph-text-l{
      margin-left: 0;
    }
}

.special-dropdown{
    background-color: transparent;
    border: 1px solid #a94442;
    position: inherit;
    font-size: 20px;
    line-height: 20px;
    border-top: none;
    margin-bottom: 3px;
    box-shadow: 0 1px 5px rgba(0,0,0,.175);
}

.main_body{
    min-height: 80vh;
}

.lo-tov{
    background-color: white !important;
    color:red !important;
    border-color:red !important
}

.row-eq-height{
    display: -webkit-box;

  display: -webkit-flex;

  display: -ms-flexbox;

  display:         flex;
}

.login-bg{
    background-color: #f3f3f39c;
    border-radius: 35px;
    min-height: 70vh;
    margin: auto;
    margin-top: 10vh !important;
}

@media(max-width: 768px) {
    .login-bg{
        max-width: 80%;
    }
}

.login_container{
  /*  background-image: url("/static/images/login_pattern.png");*/
  /*  background-position: center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
     background-color: #f3f3f37c !important;
        background-image: url(/static/images/login_pattern.png) !important;
        background-blend-mode: color;
        background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    animation: fadein 2s;
}

.blurred{
    transform: translate(10px, -35px) scale(0.8) !important;
    padding-left: 0 !important;
    color: #4D80E4 !important;
}

#corner-popup{
    opacity: 0.85;
    bottom: 10px;
    right: 10px
}

@media(min-width: 768px) {
    #corner-popup{
        border-radius: 30px;
    }
}



@media(max-width: 768px) {
    .no-padding{
        padding: 0 15px !important;
    }
}

.special_link{
    cursor: pointer;
}

@media(min-width: 768px) {
    .img_alternator{
        margin-top: 6vh;
    }
}

.img_alternator{
    display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto; min-width: 330px
}

.notifications{
  margin-right: 25px;
    position: relative;
}

.icon_wrap{
  font-size: 28px;
    cursor: pointer;
}

.notifications.active{
    color: #4D80E4;
}
.notifications.active .notification_dd{
  display: block;
}

.notification_dd{
    z-index: 4000;
  position: absolute;
  top: 48px;
  right: -15px;
  user-select: none;
  background: #fff;
  border: 1px solid #c7d8e2;
  width: 350px;
  height: auto;
  display: none;
  border-radius: 3px;
  box-shadow: 10px 10px 35px rgba(0,0,0,0.125),
              -10px -10px 35px rgba(0,0,0,0.125);
}

.notification_dd:before{
    content: "";
    position: absolute;
    top: -20px;
    right: 15px;
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
}

.notification_dd li {
    border-bottom: 1px solid #f1f2f4;
    padding: 5px 10px 5px 10px;
    margin: 2px 0;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
}

.notification_dd p {
    font-size: 12px;
    color: #818181;
    margin: 10px !important;
    text-align: right;
}

.notification_dd p:hover {
    cursor: pointer;
    color: #4D80E4;
}

.notification_dd li:hover {
    cursor: pointer;
    border: rgba(0,0,0,.12) 1px solid;

}

.notification_dd li .notify_icon{
  display: flex;
}

.notification_dd li .notify_icon .icon{
  display: inline-block;
  background: url('/static/images/world-map.png') no-repeat 0 0;
	width: 40px;
	height: 42px;
}

.notification_dd li .notify_data{
  margin: 0 15px;
  width: 95%;
}

.notification_dd li .notify_link{
  width: 5%;
    margin: 0 5px;
    font-size: 2rem;
    float: right;
    text-align: right;
    color: #818181 !important;

}
.notification_dd li .notify_link:hover{
    color: #4D80E4 !important;
    cursor: pointer;

}

.notification_dd li .notify_data .title{
  color: #000;
  font-weight: 600;
    margin-left: 5px;
    font-size: 14px !important;
}

.notification_dd li .timestamp{
  color: #818181;
  font-size: 10px;
}

.notification_dd li .notify_data .sub_title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
    margin-left: 5px;
color: #818181;
    font-size: 12px;
}


.unread_n{
        background-color: #d9edf7 !important;
    border-color: #bce8f1;
    border: 1px solid transparent;
    border-radius: 4px;
}
.notification_ul{
    padding: 0;
    background-color: transparent;
    max-height: 40vh;
    overflow: auto;
}

.nav .open>a{
    background-color: transparent;
}

.navbar-toggle{
    background-color: #ddd;
    border-color: #ddd;
}

.icon-bar{
    background-color: #888;
}

.icon_wrap{
    margin-top: 5px;
}

.notification_alt{
    color: #818181 !important;
    cursor: pointer;
}

.notification_alt:hover{
    color: #4D80E4 !important;
}

.no_notifications{
    min-height: 100px;
}

.no_notifications p{
    color: #818181;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin: auto;
    display: block;
    text-align: center;
}


@keyframes fade-in-up {
  0% { opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.video-wrap {
  text-align: center;
}

.stuck {
    position: fixed;
    bottom: 20px;
    right: 20px;
    transform: translateY(100%);
    width: 260px;
    height: 145px;
    animation: fade-in-up .25s ease forwards;
  }


.dropdown-menu {
    z-index: 9000000;
    position: absolute;
}

.pac-container {
    z-index: 1051 !important;
}

.no-more-indicator{
    text-align: center;
    cursor: pointer;
    color: #818181ab;
    font-size: 12px;
    line-height: 20px;
    margin: 15px 0;
}

.quick_apply_bolt{
    background-color: #f3f3f3f0 !important;
    background-image: url(/static/images/login_pattern.png) !important;
    background-blend-mode: color;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    animation: fadein 1s;
}

.quick_apply_bolt i{
    color: #818181 !important;
}

.quick_apply_btn_bg{
    background-color: #f3f3f3f0 !important;
    background-image: url(/static/images/login_pattern.png) !important;
    background-blend-mode: color;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    animation: fadein 1s;
}

.quick_apply_btn_bg{
    background-color: #f3f3f3f0 !important;
    background-image: url(/static/images/login_pattern.png) !important;
    background-blend-mode: color;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    animation: fadein 1s;
}

.quick_apply_btn_bg:hover{
    color: #4D80E4;
    border-color: #4D80E4;
}

.withrdraw-btn{
    background-color: rgba(228,77,77,.1) !important;
}

.withrdraw-btn:hover{
    background-color: rgba(228,77,77,.4) !important;
}

.saving{
    font-size: 14px;
    line-height: 20px;
    color: #a9a9a9;
    font-weight: 400;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

  #sortable { list-style-type: none; }

@media(max-width: 768px) {
    #goes_here{
        overflow-y: auto;
        padding-right: 15px!important;
    }
}

.main_navbar_tab{
    font-size: 22px !important;
    line-height: 24px !important;
    font-weight: 400 !important;
    color: #30415d !important;
    cursor: pointer;
}

.main_navbar_tab:hover{
    color: #4D80E4 !important;
}

.content_tab{
    display: none;
    margin-left: 5px;
}

.main_navbar_tab.open{
    color: #4D80E4 !important;
}

.note-edit{
    font-size: 8px;
    height: 14px !important;
    width: 14px !important;
    padding-top: 2px !important;
    min-width: unset !important;
    min-height: unset !important;
}

/* 2. Make nav sticky */
main > nav {
	position: sticky;
	top: 2rem;
	align-self: start;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
	color: #333;
	font-weight: 500;
}

/* Sidebar Navigation */
.section-nav {
	padding-left: 0;
	border-left: 1px solid #efefef;
}

.section-nav a {
	text-decoration: none;
	display: block;
	padding: .125rem 0;
	color: #ccc;
	transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
	color: #666;
}



/*ul, ol {*/
/*	list-style: none;*/
/*	margin: 0;*/
/*	padding: 0;*/
/*}*/
/*li {*/
/*	margin-left: 1rem;*/
/*}*/

/** page layout **/
main {
	/*display: grid;*/
	/*grid-template-columns: 1fr 15em;*/
	max-width: 100em;
	width: 90%;
	margin: 0 auto;
	scroll-behavior: smooth;
}

/** enlarge the sections for this demo, so that we have a long scrollable page **/
section {
	padding-bottom: 10px;
}


#notification_count{
    background-color: rgba(228,77,77,.7) !important;
}

.post-filter-btn{
    border-radius: 10px !important;
}

.remove_item{
        text-align: center;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
    color: #818181;
    display: block;
    margin: auto;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid rgba(255, 114, 111, 0.1);
    cursor: pointer;
    margin-top: 5px !important;
}

.remove_item:hover{
    background-color: rgba(255, 114, 111, 0.1);
}

.edit_item{
        text-align: center;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
    color: #818181;
    display: block;
    margin: auto;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid rgba(129, 129, 129, 0.4);
    cursor: pointer;
    margin-top: 5px !important;
}

.edit_item:hover{
    background-color: rgba(129, 129, 129, 0.4);
}

.reactivate{
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
    color: #818181;
    display: block;
    margin: auto;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid rgba(77,128,228,.1);
    cursor: pointer;
    margin-top: 5px !important;
}

.reactivate:hover{
        background-color: rgba(77,128,228,.1);
}


.add_item{
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
    color: #818181;
    display: block;
    margin: auto;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid rgba(77,128,228,.1);
    cursor: pointer;
    margin-top: 5px !important;
}

.add_item:hover{
        background-color: rgba(77,128,228,.1);
}


.mid_item{
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
    color: #818181;
    display: block;
    margin: auto;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid rgba(255,191,0,.15);
    cursor: pointer;
    margin-top: 5px !important;
}

.mid_item:hover{
    background-color: rgba(255,191,0,0.15);
}

.deactivated_sidebar{
    font-size: 10px;
    line-height: 14px;
    color: #818181;
    text-transform: lowercase;
    font-weight: lighter;
    cursor: pointer;
}

.deactivated_sidebar:hover {
    color: #333;
}

.message_preview_sidebar{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,.04);
}

.message_preview_sidebar:hover{
    background-color: rgba(237, 237, 242, 0.89);
}

.message_preview_sidebar .unread{
    background-color: rgba(77, 128, 228, 0.56) !important;
    font-weight: bold;
}

.search_convos{
    border-radius: 100px;
    background-color: rgba(237, 237, 242, 0.89);
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
    color: #818181;
    height: 35px;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message_preview_text{
    line-height: 12px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-break: break-word;
    display: inline;
}

.current_message{
    background-color: rgba(77,128,228,.1);
}

.message_content_col{
        border-left: 1px solid rgba(237, 237, 242, 0.89);
    border-top: none !important;
    }

@media(max-width: 768px) {
    .message_content_col{
        border-top: 1px solid rgba(237, 237, 242, 0.89) !important;
        border-left: none !important
    ;
    }
    .side_to_top_col{
        max-height: 265px;
    }
    .side_to_top_col_child{
        max-height: 230px;
    }
    #board_selectors{
        max-height: 320px;
        margin-bottom: 10px;
    }
    .user_area{
        width: 95% !important;
    }
}

.message_header{
    box-shadow: 0 2px 6px 5px rgba(0,0,0,.03);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.board_message{
    margin: 5px;
}

.board_message_body{
    background-color: rgba(237, 237, 242, 0.89);
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
    min-height: 30px;
    padding: 5px;
    border-radius: 20px;
    font-size: 16px;
    margin-bottom: 1px;
}

.message_author{
    font-size: 12px;
    margin-bottom: 3px;
    display: block;
    width: max-content;

}

.message_authoring{
    height: 80px !important;
    overflow: auto;
    resize: none;
    margin: 5px 0 5px 10px;
    width: 85%;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}

.messages_board{
    height: 73%;
    overflow-y: auto;
    overflow-x: hidden;
}

.send_message_btn{
    font-size: 25px;
    float: right;
    display: inline-block;
    height: 50px;
    border: 2px solid #4D80E4;
    border-radius: 36px;
    color: #4D80E4;
    outline: none;
    margin: 20px 10px;
    width: 50px;
    padding: 0;
    position: absolute;
}

.send_message_btn:focus{
    outline: none !important;
    outline-offset: 0 !important;
}
.send_message_btn:hover{
    background-color: #4D80E4;
    color: white;
}

.add_note_btn{
font-size: 25px;
    float: right;
    display: inline-block;
    height: 45px;
    border: 2px solid rgba(77,128,228,.1);
    border-radius: 36px;
    color: #818181ab;
    outline: none;
    margin: 10px 10px;
    width: 45px;
    padding: 0;
    position: absolute;
    cursor: pointer;
}

.add_note_btn:focus{
    outline: none !important;
    outline-offset: 0 !important;
}
.add_note_btn:hover{
    background-color: rgba(77,128,228,.1);
}

.add_note_btn[disabled]{
    color: #81818148;
}

.add_note_btn[disabled]:hover{
    background-color: unset !important;
}

.user_area{
    border-radius: 10px;
    border: 1px solid #81818147;
    padding: 10px;
    margin: 5px;
    width: 45%;
    min-height: 120px;
}

.user_area h4{
    margin: 0 0 5px 0;
}


.user_area span{
      box-shadow: 0 2px 8px rgba(0,0,0,.08);
    background-color: rgba(77,128,228,.1);
    border-radius: 30px;
    color: #818181ab;
    text-align: center;
    min-height: 30px;
    cursor: default;
    margin: 3px;
    padding: 5px 15px;
    display: inline-block;
}

.area-edit{
    color: #81818169;
    cursor: pointer;
    font-size: 12px;
}

.area-edit:hover{
    color: #818181ab;
}

.profile_option{
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
    background-color: #f8f8ff6b !important;
    border-radius: 30px;
    color: #818181ab;
    text-align: center;
    min-height: 30px;
    cursor: pointer;
    margin: 3px;
    padding: 5px 15px;
    display: inline-block;
}

.profile_option:hover{
    box-shadow: 0 10px 8px rgba(0,0,0,.08);
    color: #333 !important;
}

.resource_option{
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
    background-color: #f8f8ff6b !important;
    border-radius: 30px;
    color: #818181ab;
    text-align: center;
    min-height: 30px;
    cursor: pointer;
    margin: 3px;
    padding: 5px 15px;
    display: inline-block;
    width: auto;
}

.resource_option:hover{
    box-shadow: 0 10px 8px rgba(0,0,0,.08);
    color: #333 !important;
}

.option_selected{
    background-color: rgba(77,128,228,.1) !important;
}

.selected_resource{
    background-color: rgba(77,128,228,.1) !important;
    color: #333 !important;
    box-shadow: 0 8px 8px rgba(0,0,0,.08) !important;
}


.event_option{
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
    background-color: #f8f8ff6b !important;
    border-radius: 30px;
    color: #818181ab;
    text-align: center;
    min-height: 30px;
    cursor: pointer;
    margin: 3px;
    padding: 5px 15px;
    display: inline-block;
    width: auto;
}

.event_option:hover{
    box-shadow: 0 10px 8px rgba(0,0,0,.08);
    color: #333 !important;
}
.selected_event{
    background-color: rgba(77,128,228,.1) !important;
    color: #333 !important;
    box-shadow: 0 8px 8px rgba(0,0,0,.08) !important;
}


.area_options{
    height: 85px;
    overflow: auto;
}

.jobs-row{
    list-style: none;
    overflow-y: auto;
    height: 75vh;
    padding: 0;
}

.share_btn{
    display: inline;
    text-align: center;
    background-color: transparent;
    border-radius: 100px;
    box-shadow: 0 2px 8px 2px rgba(0,0,0,.08);
    cursor: pointer;
    color: #30415d;
    margin-left: 10px;
    padding: 5px 11px;
    font-size: 28px;
}

.share_btn:hover{
    box-shadow: 0 8px 8px 2px rgba(0,0,0,.12);
    color: #4D80E4;
}

.active_appointment{
    border: 1px solid rgba(77,128,228,.3) !important;
}