{% extends "new_sidebar/forums_base.html" %}
{% block title %} {{ forum.title }} {% endblock %}

{% block board_content %}
        {% if current_user.completed < 2 %}
            <script src="{{ url_for('static', filename='js/more_info.js') }}"></script>
        {% else %}
            {% if not current_user.email_verified %}
                <script src="{{ url_for('static', filename='js/email_required.js') }}"></script>
            {% endif %}
        {% endif %}
    <div id="goes_here" class="col-sm-12" style="height:100vh; margin: auto; display: block; box-shadow: 0 2px 8px rgba(0,0,0,.08);background-color: #ffffff;">
        <div class="modal fade" id="post_modal" tabindex="-1" role="dialog" aria-labelledby="post_modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="background-color: #ffffff; border-radius: 15px; margin-top: 15vh; min-height: 30vh">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row" style="margin-bottom: 20px">
                                    <div class="col-xs-10" style="font-size: 20px; line-height: 22px; font-weight: 800; color: #818181ab">
                                        <div class="post_destination"> {{ current_user.name }}</div> > <div class="post_destination">{{ forum.title }}</div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="post-option" style="float: right" data-dismiss="modal">X</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12" style="padding: 0 25px">
                                        <textarea class="form-control special_text" id="post_subject" name="post" placeholder="Post a question or update to this channel" required="" style="height:35px; overflow:auto; resize:none"></textarea>
                                        <textarea class="form-control special_text" id="post_post" name="post" placeholder="Additional info and resources" required="" style="height:120px; overflow:auto; resize:none; margin-top: 20px"></textarea>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 15px">
                                    <div class="col-sm-12">
                                        <div class="post_submit_btn" aria-disabled="true" forum-id="{{ forum.id }}">Post <i class="fas fa-long-arrow-alt-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="delete_modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="background-color: #ffffff; border-radius: 15px; margin: 25vh auto; max-width: 40vh">
                    <div class="modal-body">
                        <div class="row" style="font-size: 60px; line-height: 30px; text-align: center; margin-bottom: 5vh !important; margin: 0">
                            <span style="margin-left: 6px"> .  .</span> <br> <span style="transform: rotate(90deg); position: absolute; margin-top: 18px; margin-left: 0"> ( </span>
                        </div>
                        <div class="row">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-8">
                                <div class="row">
                                    <h4>Are you sure you would like to delete this post? It will be gone forever.</h4>
                                </div>
                            </div>
                            <div class="col-xs-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="post-option" data-dismiss="modal" style="width: 100%">Cancel</div>
                            </div>
                            <div class="col-xs-6">
                                <div id="delete_post_official" class="sidenav_btn delete_post_official" style="width: 100%" post-id="0">Delete</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="flag_modal" tabindex="-1" role="dialog" aria-labelledby="flag_modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="background-color: #ffffff; border-radius: 15px; margin: 25vh auto; max-width: 40vh">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <a style="font-size: 12px; line-height: 14px" href="{{ url_for('main.community_guidelines') }}" target="_blank">Community Guidelines <i class="fas fa-external-link-alt"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-8">
                                    <i class="fas fa-flag fa-3x" style="text-align: center; margin: auto; display: block"></i>
                            </div>
                            <div class="col-xs-2"></div>
                        </div>
                        <div class="row" style="margin: 10px 0 ">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-10">
                                    <textarea class="form-control special_text" id="flag_post_comment" name="post" placeholder="Please explain why you are flagging this post." required="" style="height:80px; overflow:auto; resize:none; margin-top: 5px"></textarea>
                            </div>
                            <div class="col-xs-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="post-option" data-dismiss="modal" style="width: 100%">Cancel</div>
                            </div>
                            <div class="col-xs-6">
                                <div id="flag_post_official" class="sidenav_btn" style="width: 100%" post-id="0">Submit</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="edit_post_modal" tabindex="-1" role="dialog" aria-labelledby="edit_post_modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="background-color: #ffffff; border-radius: 15px; margin-top: 15vh; min-height: 30vh">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row" style="margin-bottom: 20px">
                                    <div class="col-xs-10" style="font-size: 20px; line-height: 22px; font-weight: 800; color: #818181ab">
                                        <div class="post_destination">{{ current_user.name }}</div> >
                                        <div class="post_destination no-highlight" id="forum-menu-dropdown-toggle_edit"><span id="edit_post_forum_title">Select a forum</span></div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="post-option" style="float: right" data-dismiss="modal">X</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12" style="padding: 0 25px">
                                        <textarea class="form-control special_text" id="post_subject_edit" name="post" placeholder="Post a question or update to this channel" required="" style="height:35px; overflow:auto; resize:none"></textarea>
                                        <textarea class="form-control special_text" id="post_post_edit" name="post" placeholder="Additional info and resources" required="" style="height:120px; overflow:auto; resize:none; margin-top: 20px"></textarea>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 15px">
                                    <div class="col-sm-12">
                                        <div class="edit_post_submit_btn" aria-disabled="true" post-id="0">Edit <i class="fas fa-long-arrow-alt-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <p style="line-height: 40px; font-size: 36px; font-weight: bold; display: inline-block; margin-right:10px "># {{ forum.title }} <i class="{{ forum.get_icon() }}"></i> {% if not forum.followed(current_user) %}<div class="join_forum" forum-id="{{ forum.id }}">+ Follow</div>{% else %}<div class="leave_forum" forum-id="{{ forum.id }}">- Unfollow</div>{% endif %}
                                <p style="font-size: 18px; line-height: 26px; font-weight: 300">{% if forum.snippet != None %}{{ forum.snippet }}{% else %}A designated thread for all of y'all in {{ forum.industry.title }}{% endif %}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                {% if forum.get_posts(0).count() > 0 %}
                                <div class="dropdown post-filter-main" style="display: inline-block; float: right">
                                  <button class="btn dropdown-toggle post-filter-btn" type="button" id="post_filtering_btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                      Latest
                                  </button>
                                  <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="post_filtering" id="post_filtering_options">
                                    <li class="active post-filtering-item" ordering="0" style="border-top-right-radius: 10px; border-top-left-radius: 10px;"><a href="#">Latest</a></li>
                                    <li class="post-filtering-item" ordering="1" style="border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;"><a href="#">Trending</a></li>
                                  </ul>
                        </div>
                                {% endif %}
                                <div id="post_btn" forum_id="{{ forum.id }}" class="post_btn"><i class="fas fa-pencil-alt"></i> Create a post</div>
                            </div>
                        </div>
                        <div class="col-sm-12  posts-table-col" id="posts-table-col" onscroll="load_more_posts(this)" data-set="1" ordering="0" forum-id="{{ forum.id }}" style-type="1">
                            {% if forum.get_posts(0).count() > 0 %}
                                {% for post in forum.get_posts(0, 0) %}
                                    {% include 'main/posts/_post_preview.html' %}
                                {% endfor %}
                            {% else %}
                                <div class="no-comments">No posts yet. <br>Your's can be the first!!!</div>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <style>
        .modal-backdrop.in{
            opacity: 0.6 !important;
        }
        </style>
        </div>

{% endblock %}