{% if message.author == current_user %}
    <div class="board_message" message-id="{{ message.id }}" style="margin-left: 15%; text-align: right">
{#        <a class="message_author" href="{{ url_for('main.user', username=message.author.username) }}">{{ message.author.username }} {% if message.author == current_user %} (You){% endif %}</a>#}
        <div style="display: inline-block">
            <p class="board_message_body" style="background-color: rgba(77,128,228,.1); padding-right: 5px !important;" message-id="{{ message.id }}">{{ message.body }}</p>
            <span class="post-username">
                <span class="post-timestamp" style="float: right; font-size: 9px">{{moment(message.timestamp).fromNow()}}</span>
            </span>
        </div>
        <img src="{{ message.author.avatar(30) }}" class="img-rounded" style="margin-top: 0px; text-align: right; display: inline-block">
    </div>
{% else %}
    <div class="board_message" message-id="{{ message.id }}" style="margin-right: 15%">
        <a class="message_author" href="{{ url_for('main.user', username=message.author.username) }}">{{ message.author.username }}</a>
        <img src="{{ message.author.avatar(30) }}" class="img-rounded" style="margin-top: 0px; text-align: center; display: inline-block">
        <div style="display: inline-block">
            <p class="board_message_body" style="padding-right: 20px !important;" message-id="{{ message.id }}">{{ message.body }}</p>
            <span class="post-username">
                <span class="post-timestamp" style="float: left; font-size: 9px">{{moment(message.timestamp).fromNow()}}</span>
            </span>
        </div>
</div>
{% endif %}