{% extends "special_base.html" %}
{% block left_content %}
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/homepage.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/test.css') }}">
        <p>Who we are</p>
        {% if '/about' in request.path %}
            <a href="{{ url_for('main.about') }}" class="current"><i class="far fa-id-card"></i> About Us</a>
        {% else %}
             <a href="{{ url_for('main.about') }}"><i class="far fa-id-card"></i> About Us</a>
        {% endif %}
        {% if '/contact' in request.path %}
            <a href="{{ url_for('main.contact') }}" class="current"><i class="fas fa-phone"></i> Contact Us</a>
        {% else %}
             <a href="{{ url_for('main.contact') }}"><i class="fas fa-phone"></i> Contact Us</a>
        {% endif %}
        {% if '/news' in request.path %}
            <a href="{{ url_for('main.news') }}" class="current"><i class="fas fa-newspaper"></i> ILMJTCV in the News</a>
        {% else %}
             <a href="{{ url_for('main.news') }}"><i class="fas fa-newspaper"></i> ILMJTCV in the News</a>
        {% endif %}
        {% if '/thx' in request.path %}
            <a href="{{ url_for('main.thx') }}" class="current"><i class="fas fa-hands"></i> Our Thank You's</a>
        {% else %}
             <a href="{{ url_for('main.thx') }}"><i class="fas fa-hands"></i> Our Thank You's</a>
        {% endif %}

        <p>For the geeks</p>
        {% if '/terms' in request.path %}
            <a href="{{ url_for('main.terms') }}" class="current"><i class="fas fa-sticky-note"></i> Terms of Use</a>
        {% else %}
             <a href="{{ url_for('main.terms') }}"><i class="fas fa-sticky-note"></i> Terms of Use</a>
        {% endif %}
        {% if '/privacy' in request.path %}
            <a href="{{ url_for('main.privacy') }}" class="current"><i class="fas fa-user-secret"></i> Privacy Policies</a>
        {% else %}
             <a href="{{ url_for('main.privacy') }}"><i class="fas fa-user-secret"></i> Privacy Policies</a>
        {% endif %}
        {% if '/community_guidelines' in request.path %}
            <a href="{{ url_for('main.community_guidelines') }}" class="current"><i class="fas fa-universal-access"></i> Community Guidelines</a>
        {% else %}
             <a href="{{ url_for('main.community_guidelines') }}"><i class="fas fa-universal-access"></i> Community Guidelines</a>
        {% endif %}
        <br>
        <a href="https://twitter.com/ILMJTCV" class="social menu-item" target="_blank" style="display: inline-block">
            <i class="fa fa-twitter fa-lg"></i>
        </a>
        <a href="https://www.instagram.com/ilostmyjobtocoronavirus/" class="social menu-item" target="_blank" style="display:inline-block;">
                <i class="fa fa-instagram fa-lg "></i>
        </a>
        <a href="https://www.linkedin.com/organization-guest/company/ilmjtcv?challengeId=AQGkO_N7j8t-aQAAAXMrA_HccTqb2MaygwIjyVyL5R48nB7-b90e3a_hv7vFgZbnxvPEoqH8hxv8xsbQnMioKJEaOpl-CgeU7Q&submissionId=4ff3bde4-1c93-1f16-28d9-baccf270776d" class="social menu-item" target="_blank" style="display:inline-block;">
               <i class="fab fa-linkedin-in fa-lg"></i>
        </a>
        <a href="mailto:support@ilmjtcv.com" class="social menu-item" target="_blank" style="display: inline-block">
            <i class="fa fa-envelope fa-lg"></i>
        </a>
        <br>
    {#        {% if '/community_guidelines' in request.path %}#}
{#            <a href="{{ url_for('main.community_guidelines') }}" class="current"><i class="fas fa-people-arrows"></i> Community Guidelines</a>#}
{#        {% else %}#}
{#             <a href="{{ url_for('main.community_guidelines') }}"><i class="fas fa-people-arrows"></i> Community Guidelines</a>#}
{#        {% endif %}#}
{% endblock %}


{% block main_content %}{% endblock %}