<p>New opportunities on the ILMJTCV platform are waiting for you… After listening to your feedback, a mentorship portal was created to give you unlimited access to our most valued resources and trusted partners.</p>

<p>Check out the three biggest summer initiatives:</p>

<ol>
    <li>
        <p style="font-weight: 800; font-size: 15px">Exclusive Events - Engage with professional mentors at virtual events, workshops and webinars</p>
        <p>There are 12+ events scheduled over the next month! <a href="https://ilmjtcv.com/events" class="menu-item">Sign up</a> and ask professionals your most prized questions. The first live webinar is on August 24th, and there is one almost every weekday after that!</p>
        <img src="https://d24708ad3trvus.cloudfront.net/static/images/events.gif" style="width: 100%; display: block; margin: auto; max-width: 600px"/>
    </li>
    <li>
        <p style="font-weight: 800; font-size: 15px">1-1 Mentorship opportunities - An individualized coaching adventure to enhance your future prospects</p>
        <p><a href="https://ilmjtcv.com/sessions" class="menu-item">Schedule</a> a FREE 30 minute mentorship session with a valued ILMJTCV partner. Shoutout to our mentors for dedicating countless time and effort to make this a reality! If you are interested in becoming a mentor, feel free to sign up!</p>
        <img src="https://d24708ad3trvus.cloudfront.net/static/images/sessions.gif" style="width: 100%; display: block; margin: auto; max-width: 600px"/>
    </li>
    <li>
        <p style="font-weight: 800; font-size: 15px">Exclusive Partners - We believe in your future. Our partners will make it happen.</p>
        <p>Take advantage of the incredible career coaching and professional guidance <a href="https://ilmjtcv.com/partners" class="menu-item">available</a> to you at an ILMJTCV discounted rate. Looking for a service we don’t provide, let us know!</p>
        <img src="https://d24708ad3trvus.cloudfront.net/static/images/partners.gif" style="width: 100%; display: block; margin: auto; max-width: 600px"/>
    </li>
</ol>

<p>We are also excited to officially announce our <a href="https://ilmjtcv.com/blogs" class="menu-item">“EmployMart” blog</a>  with original content and our pandemic resource guide to help navigate the persisting setbacks and challenges posed by COVID-19.</p>

<p>We are here for you. Reach out. Give us a call. Help us improve.</p>

<p>Have a GREAT day!</p>

<p>Sincerely,</p>
<p>The ILMJTCV Team</p>